@media only screen and (max-width:989px) {
    body {
    
        .title-banner{
            padding-left: 20px;
            margin-top: 100px;
        }

        .title-banner h1{
            font-size: 50px;
        }

        .title-banner h2{
            width: 250px;
            font-size: 18px;
        }

        .banner-options {
            margin: 120px 0px;
        }

        .banner-options h3{
            font-size: 15px;
        }

        .banner-options p {
            font-size: 11px;
        }
        
        nav ul{
            display: none;
            flex-direction: column;
            position: absolute;
            width: 100%;
            left: 0;
            background-color: #ffffff;
            margin-top: 440px;
        
        }

        .boxes {
            flex-direction: column;
            width: 100%;
        }

       #banner {
        margin-bottom: 340px;
       }

        header {
            height: auto;
        }
        .logo {
            padding-left: 20px;
        }
        
        .menu-mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .menu-line {
            display: block;
            height: 3px;
            background-color: #36AA24;
        }
        .container.column {
            height: auto;
        }
        .widget-body {
            flex-direction: column;
        }

        #content-geral .container {
            flex-direction: column;
        }
        
        
        #content-geral section, aside {
            padding: 20px;
        }

        .primary-healthy-box {
            width: auto;
        }

        aside .widget{
            width: auto;
        }

        .widget-body article {
            margin: 0px;
            padding: 0px;
        }

        .footer-menu {
            flex-direction: column
        }

        .footer-area{
            flex-direction: column;
            padding: 20px;
        }

        nav .active a,nav a:hover {
            background-color: var(--main-button-color);
            color:#FFFFFF;
        }
    }
}

